*{
font-family: times;
}


.col-sm-4{
  margin-top: 5px;
  margin-bottom: 30px;
}

.jumbotron{
  background-color:#d9d9d9;
}

.body{

}

h1{
text-align: center;
}


p{
  font-size:40%;
  text-align: left;
  text-indent: 35px;
}

.p2{
  text-indent: 35px;
}

h4{
  text-align: center;
}

h5 {
  text-align: center;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

.container text-center {
  padding: 50px;
  background-color: #d9d9d9;
}
